.h1 {
  background-color:gold;
  color: black;
  text-align: center;
}

.banner {
  background-color: green;
  COLOR: white;
  MARGIN top: 75px;
  text-align: center;
  padding: 100px 0;
}

#small-xavy {
  height:600px;
  width:300px;
}

#gritter {color:#4D00FF;
          font-size: 100px;
}

.bold {font-weight: 900;
}
