.h1 {
  background-color: blue;
  color: red;
  text-align: center;
}

.banner {
  background-color: gold;
  COLOR: black;
  MARGIN top: 75px;
  text-align: center;
  padding: 100px 0;
}

#small-xavy {
  height:600px;
  width:300px;
}

#gritter {color:green;
          font-size: 100px;
}

.bold {font-weight: 900;
}
